.container-btn {
  text-align: center;
}

.btn {
  margin-top: 8rem;
  width: 11rem;
  border-radius: 9999px;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.main-btn {
  background-color: #f6b54d !important;
}